<!-- about us -->
<section class="section" id="about-us">
  <div class="container has-text-white has-text-weight-light has-text-centered">
    <!-- title -->
    <p class="title is-1 has-text-white has-text-warning"
       style="font-family: 'Bookman'">
      About Us
    </p>
    {% include title_triangles.html %}
    <!-- text -->
    <div class="columns is-centered">
      <div class="column has-text-left is-two-thirds-tablet">
        <p class="text">
          <br>We are a family here at Longbeach Washington, providing hair-cutting and beard-trimming services to men and boys alike.
        </p>
        <p class="text">
          <br>Add some more info
        </p>
        <p class="text">
          <br>Add some more info
        </p>
      </div>
    </div>
  </div>
</section>
