<!-- Intro hero -->
<section class="hero is-fullheight"
         style="background: url(images/wall_art.jpg) center / cover;">
  <div class="hero-body"
       style="background-image: linear-gradient(to right,
                          rgba(0,0,0,.7), rgba(0,0,0,1))">
    <div class="container has-text-white
                          has-text-weight-light">
      <p style="font-size: 60pt">
        Where great cuts
      </p>
      <p style="font-size: 60pt" class="has-text-warning"> 
        make the man
      </p>
    </div>
  </div>
</section>
