<!-- meet the barber -->
<section class="section" id="meet-the-barber">
  <div class="container has-text-white has-text-weight-light has-text-centered">
    <p class="title is-1 has-text-warning"
       style="font-family: 'Bookman'">
      Meet The Barber
    </p>
    {% include title_triangles.html %}
    <p class="text">
      <br>
    </p>

    <div class="columns is-centered is-multiline is-mobile">
      <div class="column is-narrow" style="width: 300px;">
        <figure class="image is-1by1">
          <img src="images/gail_pose_with_razer.jpg"
               class="is-rounded" style="object-fit: cover">
        </figure>
      </div>
      <div class="column is-narrow">
        <p class="subtitle has-text-warning">
          Gail Barella
        </p>
        <p class="text">
          From Longview WA, etc etc etc
        </p>
      </div>
    </div>
  </div>
</section>
